  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'OpenSans', Arial, sans-serif;
    font-weight: normal;
    background-color: #ffffff;
    width: 100%;
  }
  
  .header {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-position: center center;
    position: relative;
    z-index: 1;
    padding-top: 29px;
    padding-bottom: 126px;
    width: 100%;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .header {
      background-image: url(../images/banner-bg-tablet.jpg);
      padding-top: 43px;
      padding-bottom: 124px;
    }
  }

  @media (max-width: 640px) {
    .header {
      background-image: url(../images/banner-mobile.jpg);
      padding-top: 31px;
      padding-bottom: 219px;
    }
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 2;
  }
  
  .logo_nav {
    display: flex;
    position: relative;
    z-index: 3;
    max-width: 1200px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .logo_nav {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  @media (max-width: 640px) {
    .logo_nav {
      flex-direction: column-reverse;
    }
  }

  .logo {
    min-width: 183px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .logo {
      min-width: 158px;
    }
  }

  @media (max-width: 640px) {
    .logo {
      min-width: 269px;
      margin-top: 174px;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .nav {
      margin-top: 9px;
    }
    .nav_box_mobile {
      width: 23px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .nav_box_mobile_shape {
      width: 23px;
      height: 4px;
      background-color: #ffffff;
    }
  }

  @media (max-width: 640px) {
    .nav_box_mobile {
      width: 23px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
    }
    .nav_box_mobile_shape {
      width: 23px;
      height: 4px;
      background-color: #ffffff;
    }
  }

  .nav_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 11px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .nav_list {
      display: none;
    }
  }

  @media (max-width: 640px) {
    .nav_list {
      display: none;
    }
  }
  
  .nav_item {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 35px;
  }
  
  .nav_item:hover {
    text-decoration: underline;
  }
  
  .nav__link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .title {
    font-size: 45px;
    line-height: 1.66;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 98px;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .title {
      font-size: 40px;
      line-height: 1.37;
      margin-top: 103px;
    }
  }

  @media (max-width: 640px) {
    .title {
      font-size: 26px;
      line-height: 1.38;
      margin-top: 43px;
      max-width: 277px;
    }
  }

  .trends {
    margin-top: 59px;
    width: 100%;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends {
      margin-top: 50px;
    }
  }

  @media (max-width: 640px) {
    .trends {
      margin-top: 40px;
    }
  }

  .trends_title {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    line-height: 1.45;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends_title {
      font-size: 18px;
      line-height: 1.61;
    }
  }

  @media (max-width: 640px) {
    .trends_title {
      font-size: 16px;
    }
  }

  .trends_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
  }

  .trends_items {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends_items {
      margin-top: 19px;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 640px) {
    .trends_items {
      margin-top: 24px;
      flex-direction: column;
    }
  }

  .trends_item {
    width: 24.7%;
    background-color: #000000;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends_item {
      width: 49.7%;
      max-height: 247px;
    }
    .trends_item:nth-child(3) {
      margin-top: 2px;
    }
    .trends_item:nth-child(4) {
      margin-top: 2px;
    }
  }

  @media (max-width: 640px) {
    .trends_item {
      width: 100%;
    }
    .trends_item:nth-child(n+2) {
      margin-top: 2px;
    }
  }

  .trends_item::before {
    content: '';
    opacity: 0.6;
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .trends_item_img1 {
    background-image: url(../images/trend1.jpg);
  }

  .trends_item_img2 {
    background-image: url(../images/trend2.jpg);
  }

  .trends_item_img3 {
    background-image: url(../images/trend3.jpg);
  }

  .trends_item_img4 {
    background-image: url(../images/trend4.jpg);
  }

  .trends_item_box {
    margin: 157px 22px 16px 18px;
    border: 3px solid #b59f5b;
    flex-direction: column;
    display: flex;
    z-index: 2;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends_item_box {
      margin: 97px 21px 15px 18px;
    }
  }

  @media (max-width: 640px) {
    .trends_item_box {
      margin: 89px 15px 15px 15px;
    }
  }

  .trends_categorys_item_box {
    padding-left: 34px;
    padding-top: 39px;
  }

  @media (max-width: 640px) {
    .trends_categorys_item_box {
      padding-left: 22px;
      padding-top: 32px;
    }
  }

  .trends_item_text_title {
    margin-top: 11px;
    padding-left: 32px;
    padding-bottom: 32px;
  }

  @media (max-width: 640px) {
    .trends_item_text_title {
      margin-top: 11px;
      padding-left: 20px;
      padding-bottom: 27px;
    }
  }

  .trends_item_text_title:hover {
    color: #b59f5b;
  }

  .trends_item_text {
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "OpenSans";
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .trends_item_text {
      font-size: 17px;
      line-height: 1.29;
    }
  }

  @media (max-width: 640px) {
    .trends_item_text {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  .trends_item_text:hover {
    color: #b59f5b;
  }

  .content {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .content {
      margin-top: 50px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  @media (max-width: 640px) {
    .content {
      margin-top: 44px;
      flex-direction: column;
    }
  }
  
  .main {
    max-width: 778px;
    padding-top: 10px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .main {
      max-width: 698px;
    }
  }

  .article {
    display: flex;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .article {
      flex-direction: column;
    }
  }
  
  .article:nth-child(n+2) {
    margin-top: 55px;
  }

  @media (max-width: 640px) {
    .article:nth-child(n+2) {
      margin-top: 60px;
    }
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .article:nth-child(n+2) {
      margin-top: 41px;
    }
  }

  @media (max-width: 640px) {
    .article {
      flex-direction: column;
    }
  }
  
  .image_article {
    max-width: 381px;
    background-color: #eff6f1;
  }

  @media (max-width: 640px) {
    .image_article {
      max-width: 329px;
    }
  }
  
  .news_article {
    margin-left: 30px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .news_article {
      margin-left: 0px;
      margin-top: 14px;
    }
  }
  
  @media (max-width: 640px) {
    .news_article {
      margin-left: 0px;
    }
  }

  .categorys {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
  }

  @media (max-width: 640px) {
    .categorys {
      margin-top: 14px;
    }
  }
  
  .category {
    margin-right: 20px;
    line-height: 1;
  }

  .category_link {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
  }
  
  .category_link:hover {
    text-decoration: underline;
  }
  
  .header_2 {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 6px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .header_2 {
      font-size: 17px;
      line-height: 1.29;
      margin-top: 16px;
    }
  }

  @media (max-width: 640px) {
    .header_2 {
      font-size: 16px;
      line-height: 1.25;
      margin-top: 15px;
    }
  }

  .header__2 {
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .header__2:hover {
    color: #b59f5b;
  }
  
  .date_author {
    display: flex;
    margin-top: 27px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .date_author {
      display: flex;
      margin-top: 37px;
    }
  }

  @media (max-width: 640px) {
    .date_author {
      margin-top: 23px;
    }
  }
  
  .date {
    font-size: 12px;
    color: #888888;
    max-width: 80px;
    margin-bottom: 0px;
    margin-right: 17px;
  }
  
  .author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
  }
  
  .text {
    font-size: 15px;
    line-height: 1.47;
    color: #0f0d0e;
    margin-top: 45px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .text {
      margin-top: 33px;
    }
  }

  @media (max-width: 640px) {
    .text {
      margin-top: 19px;
      font-size: 14px;
      line-height: 1.42;
    }
  }
  
  .text_2 {
    max-width: 367px;
    font-size: 15px;
    line-height: 1.47;
    color: #0f0d0e;
    margin-top: 10px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .text_2 {
      margin-top: 17px;
    }
  }

  @media (max-width: 640px) {
    .text_2 {
      margin-top: 12px;
    }
  }
  
  .aside {
    width: 272px;
  }

  @media (max-width: 640px) {
    .aside {
      width: 100%;
    }
  }

  .section {
    text-align: center;
  }
  
  .aside_title {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 7px;
    line-height: 2.07;
  }

  @media (max-width: 640px) {
    .aside_title {
      font-size: 16px;
      line-height: 1.81;
    }
  }
  
  .aside_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
  }
  
  .post_list {
    margin-top: 25px;
  }
  
  .post {
    display: flex;
    width: 100%;
  }
  
  .post:nth-child(n+2) {
    margin-top: 12px;
  }

  @media (max-width: 640px) {
    .post:nth-child(n+2) {
      margin-top: 22px;
    }
  }
  
  .image_post {
    max-width: 70px;
    background-color: #f4f7f6;
    padding-top: 5px;
  }

  @media (max-width: 640px) {
    .image_post {
      padding-top: 0px;
    }
  }
  
  .row {
    margin-left: 19px;
    text-align: start;
  }
  
  h3 {
    text-align: left;
  }
  
  .header_3 {
    font-size: 14px;
    line-height: 1.28;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .header_3:hover {
    color: #b59f5b;
  }
  
  .header__4 {
    font-size: 14px;
    line-height: 1.28;
    text-align: left;
  }

  .header_4 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .header_4:hover {
    color: #b59f5b;
  }
  
  .form_search {
    height: 50px;
    margin-top: 55px;
    margin-bottom: 54px;
  }

  @media (max-width: 640px) {
    .form_search {
      margin-top: 59px;
      margin-bottom: 43px;
    }
  }
  
  .form_search:focus {
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    outline: 1px solid #b59f5b;
  }

  @media (max-width: 640px) {
    .form_search:focus {
      width: 100%;
    }
  }
  
  .search {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    width: 222px;
    height: 50px;
    position: relative;
    border-style: none;
    padding-left: 19px;
    padding-right: auto;
    background-color: #f3f7f5;
  }

  @media (max-width: 640px) {
    .search {
      width: 84.5%;
      padding-left: 17px;
    }
  }
  
  .search_hide {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .button {
    position: absolute;
    width: 49px;
    height: 49px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
    border-style: none;
  }
  
  .button_hide {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #323232;
  }
  
  .subscribe {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .subscribe {
      margin-bottom: 61px;
    }
  }

  @media (max-width: 640px) {
    .subscribe {
      width: 100%;
      margin-bottom: 44px;
    }
  }

  .subscribe_posts {
    margin-bottom: 22px;
    text-align: center;
  }
  
  .subscribe_title {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 14px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2.07;
  }

  @media (max-width: 640px) {
    .subscribe_title {
      font-size: 16px;
      line-height: 1.81;
    }
  }
  
  .subscribe_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .subscribe_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .subscribe_text {
    height: 50px;
    width: 271px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    border-style: none;
    padding-left: 19px;
    padding-right: auto;
    background-color: #f3f7f5;
    margin-bottom: 18px;
  }

  @media (max-width: 640px) {
    .subscribe_text {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  
  .subscribe_text_hide {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .subscribe_text:focus {
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    outline: 1px solid #b59f5b;
  }
  
  .subscribe_button {
    height: 49px;
    background-color: #b59f5b;
    border-style: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .subscribe_button:hover {
    background-color: #323232;
  }

  .subscribe_button_hide {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .tags {
    margin-bottom: 47px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .tags {
      margin-bottom: 61px;
    }
  }

  @media (max-width: 640px) {
    .tags {
      margin-bottom: 44px;
    }
  }

  .tags_posts {
    align-items: center;
    margin-bottom: 23px;
  }
  
  .tags_title {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.07;
  }
  
  @media (max-width: 640px) {
    .tags_title {
      font-size: 16px;
      line-height: 1.81;
    }
  }

  .tags_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .tags_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .tags_item {
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "OpenSans";
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    border: 3px solid #eeeeee;
    padding: 8px 15px 6px 15px;
  }
  
  .tags_item:focus {
    width: 86px;
    height: 30px;
    outline: 3px solid #eeeeee;
    background-color: #f4f3f1;
  }
  
  .tags_item_1 {
    width: 84px;
    margin-right: 3px;
  }
  
  .tags_item_2 {
    width: 73px;
    margin-right: 5px;
  }
  
  .tags_item_3 {
    width: 88px;
  }

  @media (max-width: 640px) {
    .tags_item_3 {
      margin-right: 5px;
    }
  }
  
  .tags_item_4 {
    width: 59px;
    margin-right: 5px;
  }
  
  .tags_item_5 {
    width: 85px;
    margin-right: 4px;
  }
  
  .tags_item_6 {
    width: 78px;
  }

  @media (max-width: 640px) {
    .tags_item_6 {
      margin-right: 5px;
    }
  }
  
  .tags_item_7 {
    width: 67px;
    margin-right: 4px;
  }
  
  .tags_item_8 {
    width: 78px;
  }
  
  .categories_posts {
    align-items: center;
    margin-bottom: 15px;
  }

  @media (max-width: 640px) {
    .categories_posts {
      margin-bottom: 26px;
    }
  }
  
  .categories_title {
    font-size: 14px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.07;
  }

  @media (max-width: 640px) {
    .categories_title {
      font-size: 16px;
      line-height: 1.81;
    }
  }
  
  .categories_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .categories__list {
    list-style-type: none;
    text-transform: capitalize;
  }
  
  .categories_box {
    display: flex;
  }
  
  .categories_item {
    text-decoration: none;
    font-size: 14px;
    line-height: 3.35;
    color: #000000;
    font-weight: 700;
  }
  
  .categories_item:hover {
    color: #b59f5b;
  }
  
  .categories_quantity {
    font-size: 12px;
    line-height: 3;
    color: #b59f5b;
    font-weight: 700;
    margin-left: 6px;
  }

  .shop {
    margin-top: 64px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .shop {
      margin-top: 70px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  
  .shop_title {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    line-height: 1.45;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .shop_title {
      font-size: 18px;
      line-height: 1.61;
    }
  }

  @media (max-width: 640px) {
    .shop_title {
      font-size: 16px;
      line-height: 1.81;
    }
  }

  .shop_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
  }

  .shop_items {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .shop_items {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 640px) {
    .shop_items {
      flex-direction: column;
      margin-top: 25px;
    }
  }

  .shop_item {
    display: flex;
    flex-direction: column;
    width: 29.7%;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .shop_item {
      width: 48%;
    }
    .shop_item:nth-child(3) {
      margin-top: 28px;
    }
  }

  @media (max-width: 640px) {
    .shop_item {
      width: 100%;
    }
    .shop_item:nth-child(n+2) {
      margin-top: 26px;
    }
  }

  .shop_image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -32px;
  }

  .shop_box {
    max-width: 347px;
    width: 100%;
    border: 3px solid #b59f5b;
    height: 100%;
  }

  .shop_box_title {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "OpenSans";
    text-transform: uppercase;
    margin-top: 54px;
    padding-left: 20px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .shop_box_title {
      font-size: 17px;
    }
  }

  @media (max-width: 640px) {
    .shop_box_title {
      font-size: 17px;
      padding-left: 12px;
    }
  }

  .shop_box_text {
    margin-top: 8px;
    padding-left: 20px;
    width: 301px;
    font-size: 15px;
    line-height: 1.46;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "OpenSans";
  }

  @media (max-width: 640px) {
    .shop_box_text {
      padding-left: 12px;
    }
  }

  .shop_box_text_link {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "OpenSans";
  }

  .shop_box_price_link {
    margin-top: 23px;
    padding-left: 19px;
    padding-right: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
  }

  @media (max-width: 640px) {
    .shop_box_price_link {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .shop_box_price {
    display: flex;
    flex-direction: column;
    max-width: 70px;
    font-weight: 700;
    font-family: "OpenSans";
  }

  .shop_box_price1 {
    font-size: 14px;
    text-decoration: line-through;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "OpenSans";
    position: relative;
    margin-top: auto;
  }

  .shop_box_price1_shape1::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 6px;
    right: 10px;
  }

  .shop_box_price1_shape3::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 5px;
    right: 28px;
  }

  .shop_box_price1_shape5::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 5px;
    right: 17px;
  }

  .shop_box_price2 {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "OpenSans";
    position: relative;
    margin-bottom: auto;
  }

  .shop_box_price2_shape2::after {
    content: "";
    width: 7px;
    height: 2px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 3px;
  }

  .shop_box_price2_shape4::after {
    content: "";
    width: 7px;
    height: 2px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 3px;
  }

  .shop_box_price2_shape6::after {
    content: "";
    width: 7px;
    height: 2px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 3px;
  }

  .shop_box_link {
    height: 49px;
    max-width: 141px;
    background-color: #b59f5b;
    border-style: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "OpenSans";
    flex-basis: 141px;
  }
  
  .subscribe_shop_box_link_hide {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .shop_box_link:hover {
    background-color: #323232;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
  }
  
  @media (min-width: 641px) and (max-width: 1200px) {
    .footer {
      padding-left: 35px;
      padding-right: 35px;
      margin-top: 50px;
    }
  }

  @media (max-width: 640px) {
    .footer {
      margin-top: 42px;
    }
  }

  .social {
    padding-top: 30px;
    padding-bottom: 32px;
    background-color: #f4f7f6;
  }

  @media (max-width: 640px) {
    .social {
      padding-bottom: 0px;
    }
  }
  
  .social_list {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  
  .social__item:nth-child(n+2) {
    margin-left: 30px;
  }
  
  .social_item {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .social_item_twitter {
    background-image: url(../svg/004-twitter.svg);
    width: 25px;
    height: 21px;
  }
  
  .social_item_pinterest {
    background-image: url(../svg/001-pinterest.svg);
    width: 16px;
    height: 20px;
  }
  
  .social_item_tumblr {
    background-image: url(../svg/003-tumblr.svg);
    width: 13px;
    height: 20px;
  }
  
  .social_item_text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip:rect(1px,1px,1px,1px);
  }
  
  .copyrights {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
    margin-bottom: 40px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .copyrights {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 63px;
      margin-bottom: 36px;
    }
  }

  @media (max-width: 640px) {
    .copyrights {
      margin-top: 80px;
      margin-bottom: 46px;
    }
  }
  
  .copyrights_link {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    text-decoration: none;
  }

  .popup_ {
    width: 390px;
    position: fixed;
    background-color: #ffffff;
    z-index: 999;
    top: calc(50% - 195px);
    left: calc(50% - 195px);
  }

  @media (max-width: 640px) {
    .popup_ {
      width: 331px;
      top: 56px;
      left: calc(50% - 165px);
    }
  }

  .popup_button_close {
    width: 19px;
    height: 19px;
    position: absolute;
    top: -27px;
    left: 373px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .popup_button_close {
      width: 28px;
      height: 28px;
      top: -37px;
      left: 363px;
    }
  }

  @media (max-width: 640px) {
    .popup_button_close {
      width: 28px;
      height: 28px;
      top: -33px;
      left: 303px;
    }
  }

  .mask_popup {
    background-color: #000000;
    opacity: 0.6;
    z-index: 998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .popup_title {
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    line-height: 1.45;
    padding-top: 54px;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .popup_title {
      font-size: 18px;
      line-height: 1.61;
    }
  }

  @media (max-width: 640px) {
    .popup_title {
      font-size: 16px;
      line-height: 1.81;
      padding-top: 30px;
    }
  }

  .popup_title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
  }

  .popup_box {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 29px;
  }

  @media (max-width: 640px) {
    .popup_box {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .popup_text {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
  }

  .popup_select_box {
    width: 331px;
    height: 50px;
    position: relative;
    margin-top: 8px;
    padding-left: 19px;
  }

  @media (max-width: 640px) {
    .popup_select_box {
      width: 281px;
    }
  }

  .popup_select {
    width: 100%;
    height: 100%;
    border: #eeeeee;
    background-color: #eeeeee;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "OpenSans";
  }

  .popup_select:focus {
    width: 331px;
    height: 50px;
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }

  .popup_form_arrows_img {
    width: 9px;
    height: 18px;
    position: absolute;
    top: 16px;
    right: 22px;
  }

  .popup_radio {
    margin-top: 33px;
  }

  .popup_radio_text {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "OpenSans";
  }

  .popup_radio_box {
    margin-top: 10px;
  }

  .popup_radio_box_text {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "OpenSans";
  }

  .popup_radio_box_text2 {
    margin-left: 17px;
  }

  .popup_radio_box_text::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .popup_radio_box_input:checked ~ .popup_radio_box_text::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../svg/form-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    vertical-align: middle;
  }

  .popup_radio_box_input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }
  
  .popup_unput_themes {
    margin-top: 38px;
  }

  @media (max-width: 640px) {
    .popup_unput_themes {
      margin-top: 33px;
    }
  }

  .popup_unput_themes_text {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "OpenSans";
    width: 306px;
    display: block;
    margin-bottom: 10px;
  }

  @media (max-width: 640px) {
    .popup_unput_themes_text {
      max-width: 260px;
      display: block;
    }
  }

  .popup_unput_themes_field {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "OpenSans";
    width: 331px;
    height: 133px;
    padding-top: 22px;
    padding-left: 21px;
    padding-right: 140px;
    padding-bottom: 97px;
    background-color: #f4f7f6;
    border: #eeeeee;
  }

  @media (max-width: 640px) {
    .popup_unput_themes_field {
      width: 260px;
      height: 140px;
      padding-right: 92px;
      padding-bottom: 97px;
    }
  }

  .popup_unput_themes_field:focus {
    width: 331px;
    height: 133px;
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
  }

  .popup_button {
    height: 49px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 54px;
    background-color: #b59f5b;
    border-style: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (max-width: 640px) {
    .popup_button {
      margin-bottom: 48px;
    }
  }

  .popup_button:hover {
    background-color: #323232;
  }

  .popup_button_hide {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }